<div class="modal-header">
    <h3>Boka ett bord!</h3>
</div>
<form name="form.userForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>Namn</label>
            <input type="text" name="name" class="form-control" ng-model="name" required>
            <p ng-show="form.userForm.name.$invalid && !form.userForm.name.$pristine" class="help-block">Your name is required.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email" required>
            <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <!-- Num People -->
        <div class="form-group">
            <label>Antal Personer</label>
            <input class="form-control" type="text" name="numberPpl" ng-model="numberPpl" required>

        </div>

        <!-- Date day and hour and min -->
        <div class="form-group">
            <label>Tid och Dag</label>
            <input class="form-control" type="datetime-local" id="inputDate" name = "date" ng-model="time" min="2018-03-07T08:30" max="2019-01-30T08:30" required />
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid">Boka</button> <!-- ng-disabled="form.userForm.$invalid -->
        <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
    </div>
</form>
