<div class="page-header" data-parallax="true" style="background-image: url('./assets/images/example.jpeg');">
<div class="filter"></div> 
	<div class="container">
		<div class="motto text-center">
			<h1>Ellora</h1>
			<h3>Indisk Restaurang</h3>
			<br />
			<a href="https://www.youtube.com/watch?v=Gv84zJ1bwIY" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Titta runt</a>
			<button type="button" class="btn btn-outline-neutral btn-round" data-toggle="modal" ng-click="showForm()">Boka bord</button></a>
		</div>
	</div>
</div>


	<div class="main" ng-controller = navigationController>
		<div class="section text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h2 class="title">En av Stockholms äldsta och mest älskade indiska restauranger</h2>
					<h5 class="description">Centralt belägen på Södermalm och med en lugn trevlig miljö vill du inte missa att komma hit!</h5>
					<br>
					<a href="" ng-click="redirect('recentioner')" ng-class="location == '/recentioner' ? 'active' : ''" class="btn btn-danger btn-round">Se alla recentioner</a>
				</div>
			</div>
			<br/><br/>
			<div class="row">
				<div class="col-md-3" ng-repeat ="review in reviews | filter:query | orderBy:dt: true | limitTo:quantity">
					<div class="info">
						<div class="description">
							<h4 class="info-title" alt="...">{{review.name}}</h4>
							<p class="description" alt="...">{{review.review}} </p>
							<p class="date" alt="...">{{review.dt}}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


<div class="section text-center"  data-parallax="true" style="background-image: url('./assets/images/tandoori.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card card-profile card-plain">
						<div class="card-header">

							<h4 class="card-title">Öppetider</h4>

						</div>
						<div class="card-plain">
							<a href="#avatar"><img src="./assets/images/oppetider.png" alt="..."></a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-profile card-plain">
						<div class="card-header">

						<h4 class="card-title">Kontakta oss</h4>

					</div>
						<div class="card-plain">
							<a href="#avatar"><img src="./assets/images/kontakt.png" alt="..."></a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card card-profile card-plain">
						<div class="card-header">

						<h4 class="card-title">Hitta hit</h4>

						</div>
						<div id="map">
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>



