<div class="section">
	<div class="col-md-12">

	<form ng-submit="login()" class="loginForm" name="form.loginForm" novalidate>
        <div class="col-md-4">
        	 
        	 <h3>Login</h3>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <span class="text-danger">{{ error }}</span>
          </div>

        </div>
  </form>
</div>

</div>