<div class="modal-header">
    <h3>Fyll i din information!</h3>
</div> 
<form name="form.orderForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">

        <!-- NAME -->
        <div class="form-group">
            <label>Namn</label>
            <input type="text" name="name" class="form-control" ng-model="name" required>
            <p ng-show="form.orderForm.name.$invalid && !form.orderForm.name.$pristine" class="help-block">Your name is required.</p>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="email" required>
            <p ng-show="form.orderForm.email.$invalid && !form.orderForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <div class="form-group" >
            <label >Rätter</label>
            <div ng-repeat= "c in cart">
                <h4> {{c.name}}</h4>
                <h5>Antal:  <span style="color:blue"> {{c.count}} </span></h5>
                <p>Pris: {{c.price}}kr</p>
            </div>
        </div>


        <!-- Total -->
        <div class="form-group">
            <h3>Total Summa</h3>
            <h3> {{total}}kr</h3>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.orderForm.$invalid">Bekräfta köp</button> <!-- ng-disabled="form.orderForm.$invalid -->
        <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
    </div>
</form>