<div class="section text-center">
	<div class="row">

		<div class="col-md-4">

			<h2> Lunch Meny </h2>
			<h4> I lunch menyn ingår alltid dricka </h4>
			<h5> Köp till ett Nannbröd för endast 20kr </h5>
			<table class="table" datatable="ng">

				<thead class="lunch-day-header">
					<tr>
						<th class="menu_header" colspan="3">
							<h3>Vardagar: 11.00 - 14.30</h3>
						</th>
					</tr>
					<tr>
						<th> Maträtt:</th>
						<th> Beskrivning </th>
						<th> Pris </th>
					<tr>
				</thead>

				<tbody>
	            <tr ng-repeat ="item in items | filter:query | orderBy: '-price': true">
	                <td>{{item.name}}</td>
	                <td>{{item.description}}</td>
	                <td>{{item.price}}kr</td>
	                <td><input class="btn btn-success" type="button" ng-click="addItemToCart(item)" value="Beställ" /></td>
	            </tr>
	        	</tbody>
	    	</table>
	    	

		</div>

		<div class="col-md-4">

			<h2> Middag </h2>
			<h4> <br> </h4>
			<h5> <br> </h5>
			<table class="table" datatable="ng">

				<thead class="dinner-day-header">
					<tr>
						<th class="menu_header" colspan="3">
							<h3>Alla dagar:</h3>
						</th>
					</tr>
					<tr>
						<th> Maträtt:</th>
						<th> Beskrivning </th>
						<th> Pris </th>
					<tr>
				</thead>

				<tbody>
	            <tr ng-repeat ="item in items | filter:query | orderBy: '-price': true">
	                <td>{{item.name}}</td>
	                <td>{{item.description}}</td>
	                <td>{{item.price}}kr</td>
	                <td><input class="btn btn-success" type="button" ng-click="addItemToCart(item)" value="Beställ" /></td>
	            </tr>

	        	</tbody>
	        </table>
		</div>
		<div class="col-md-4">
			<div class="shopping-cart" ng-show="cart.length !== 0" >
	            <h1>Varukorg</h1>
	            <ul class="list-group">
	            <li class="list-group-item" ng-repeat="c in cart">

	              <h4>{{c.name}} </h4>
	              <h5>Antal:  <span style="color:blue"> {{c.count}} </span></h5>
				  <h5>{{c.price * c.count | currency}}</h5>
	              <input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="Ångra" />
	            </li>
	          </ul>
	          <h3>Total : {{total | currency}}</h3>
	          <button class="btn btn-success" ng-click = makeOrder(cart)>Gå vidare</button>
	        </div>
		</div>

	</div>
</div>